body {
  height: 90vh;
  background: url(../../week1/back.svg) no-repeat center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: rgb(146, 149, 160, 0.9);
  width: 35%;
  height: 70%;
  padding: 60px 20px;
  border-radius: 10px;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  width: 100%;
  border: 1px solid white;
  background-color: rgb(146, 149, 160, 0.9);
  border-radius: 5px;
  margin-bottom: 25px;

  padding: 5px;
}

label {
  font-size: 12px;
  color: #b6b8bf;
  align-self: flex-start;
}
form div {
  display: flex;

  flex-direction: column;
  align-items: center;
  width: 40%;
}
button {
  width: 42%;
  background-color: #8e8e8e;
  border: none;
  padding: 10px 10px;
  border-radius: 10px;
}
